<div class='item-container'>
  <div class='item-container__list-of-items'>
    <h2>Items</h2>
  </div>
  <div class='item-container__item-name' *ngFor="let item of itemModel">
    <div (click)="openItemDetailsComponent(item)" class='item-container__item-name__item-border'>
    {{item.name}}
  </div>
    <div class='item-container__item-name__item-buttons'>
      <button class='utility-button update-button' (click)="redirectToUpdateItemComponent(item)">Update</button>
      <button class='utility-button delete-button' (click)="deleteItem(item._id || '')">Delete</button>
    </div>
  </div>
  <button type="button" class="btn btn-dark" (click)="redirectToCreateItemComponent()">
    Create Item
  </button>
</div>