<div>
  <table class="table">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Qty</th>
      <th scope="col">Description</th>
      <th scope="col">MongoDB ID</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemModel">
        <td>{{ item.name }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item._id }}</td>
        <button class='utility-button update-button' (click)="redirectToUpdateItemComponent(item)">Update</button>
        <button class='utility-button delete-button' (click)="deleteItem(item._id || '')">Delete</button>
      </tr>
    </tbody>
  </table>
  <div class="create-item-positioning">
    <button
      type="button"
      class="btn btn-dark"
      (click)="redirectToCreateItemComponent()"
    >
      Create Item
    </button>
  </div>
</div>
