/* You can add global styles to this file, and also import other style files */
button {
  cursor: pointer;
  width: 100px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  margin-right: 10px;
  &.create-button {
    margin-top: 17px;
  }
}

.table {
  width: 70% !important;
  margin: auto !important;
  text-align: center !important;
}
